* {
    margin: 0;
    background-color: cornsilk;
}

header {
    background-color: red;
    color: white;
    height: 10px;
    padding: 20px;
    font-size: 30px;
    vertical-align: center;
}


table {
    margin: 100px auto;

}


tr > td {
    position: relative;
    float: left;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 5px 20px 5px;
    
    border-radius: 25px;
    float: left;
}

tr > td > p {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}

.nombre {
    font-weight: bold;
}

.nombre::first-letter{
    text-transform: uppercase;
}

.numero {
    font-size: 10px;
}

tr > td > img {
    background-color: white;
    height: 150px;
    width: 150px;
    float: left;
}

tr > td:hover div[class="bocadillo"] {
    display: block;
 }

div[class="bocadillo"] {
    display: none;
    background-color: white;
    

}
div[class="bocadillo"] > p {
   margin: 5px;
   background-color: red;
   padding: 4px;
   border: 1px solid black;
   border-radius: 5px;
    color: white;
}