* {
    margin: 0;
    background-color: cornsilk;
}

header {
    background-color: red;
    color: white;
    height: 10px;
    padding: 20px;
    font-size: 30px;
    vertical-align: center;
}


table {
    margin: 100px auto;

}


tr > td > div   {
    position: relative;
    float: left;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 5px 20px 5px;
    
    border-radius: 25px;
    float: left;
}

tr > td > div > p {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}

.nombre {
    font-weight: bold;
}

.nombre::first-letter{
    text-transform: uppercase;
}

.numero {
    font-size: 10px;
}

tr > td > div > img {
    background-color: white;
    height: 150px;
    width: 150px;
    
}


td:hover div[class="bocadillo"] {
    display: block;
 }

div[class="bocadillo"] {
    display: none;
    background-color: white;
}

div[class="bocadillo"] > p {
   margin: 5px;
   background-color: red;
   padding: 4px;
   border: 1px solid black;
   border-radius: 5px;
    color: white;
}

div[class="abilities"] {
    display: none;
    height: auto;
    width: auto;
    float: right;
    background-color: ;
    margin: 30px;
    padding: 15px;
    border: 1.5px solid ;
    border-radius: 5px;
}

td:hover div[class="abilities"] {
    display: block;

}

div[class="abilities"] > h3{
    background-color: ;
}

div[class="abilities"] > ul {
    background-color: ;
}

div[class="abilities"] > ul > li{
    padding: 5x;
    background-color: ;
    list-style: none;
    font-size: 18px;
}